/* =MIXINS
-------------------------------------------------------------- */
/*===== Text =====*/
/**
 * Truncate Text
 */
@mixin text_truncate($width:100%) {
    width: $width;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*===== Gradients =====*/
/**
 * Linear Gradient
 */
@mixin linear_gradient($from, $to) {
    /* Fallback for sad browsers */
    background-color: $to;
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient($from, $to);
    /* Opera */
    background-image: -o-linear-gradient($from, $to);
    /* WebKit (Safari 4+, Chrome 1+) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
    /* WebKit (Chrome 11+) */
    background-image: -webkit-linear-gradient($from, $to);
    /* IE10 */
    background-image: -ms-linear-gradient($from, $to);
    /* W3C */
    background-image: linear-gradient($from, $to);
}


/*===== RWD Helpers =====*/
/**
 * Media Query Breakpoints
 */
@mixin breakpoint($point) {
    @if $point == large {
        // Minimum width of 960/16 pixels = 60em.
        @media (min-width: 60em) { @content; }
    }
    @else if $point == medium-large {
        // Minimum width of 850/16 pixels = 53.125em.
        @media (min-width: 53.125em) { @content; }
    }
    @else if $point == medium {
        // Minimum width of 760/16 pixels = 47.5em.
        @media (min-width: 47.5em) { @content; }
    }
    @else if $point == small {
        // Minimum width of 600/16 pixels = 37.5em.
        @media (min-width: 37.5em)  { @content; }
    }
    @else {
        @media (min-width: $point) { @content; }
    }
}

/**
 * Flexible Videos
 */
@mixin flex-vid() {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
    }
}

/**
 * HiDPI Background Images
 * (http://www.abookapart.com/products/sass-for-web-designers - page 80)
 * NOTE: Image path in URL defined in Variables partial.
 */
@mixin retina-bg($file, $type, $width, $height) {
    background-image: url($img-path + $file + '.' + $type);

    @media (-webkit-min-device-pixel-ratio: 1.5),
            (min--moz-device-pixel-ratio: 1.5),
            (-o-min-device-pixel-ratio: 3/2),
            (min-device-pixel-ratio: 1.5),
            (min-resolution: 1.5dppx) {
        & {
            background-image: url($img-path + $file + '-2x.' + $type);
            background-size: $width $height;
        }
    }
}

/**
 * SVG Background
 * NOTE: Image path in URL defined in Variables partial.
 */
@mixin svg-bg($file, $width, $height) {
    // background: transparent url($img-path + $file + '.png') center no-repeat; /* Uncomment if IE8 support needed */
    background: transparent url($img-path + $file + '.svg') center no-repeat;
    background-size: $width $height;
}

/**
 * SVG Sprite Background
 * NOTE: Image path in URL defined in Variables partial.
 *       SVG size for background-size declaration also defined in Variables partial.
 */
@mixin svg-sprite($file, $x-pos, $y-pos) {
    // background: transparent url($img-path + $file + '.png') $x-pos $y-pos no-repeat; /* Uncomment if IE8 support needed */
    background: transparent url($img-path + $file + '.svg') $x-pos $y-pos no-repeat;
    background-size: $sprite-size;
}
